<html>
<head>
    <title>Activated !</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <div>
        <h1>Successfully Completed !</h1>
        <a href="/index">Main page</a>
        <a href="/registr">Registration</a>
    </div>
</body>
</html>