<!DOCTYPE html>
<html>
<head>
    <title>CRUD PROJECT</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <div class="container">
        <h1>LOGIN & REGISTR</h1>
        <div class="inside">
            <a href="/login">Login</a>
            <a href="/registr">Create Account</a>
        </div>
    </div>
</body>
</html>