<html>
<head>
    <title>Failed !</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <style>
        h1{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Faild !</h1>
        {{#error}}
            <h1>{{.}}</h1>
        {{/error}}
    </div>
</body>
</html>